@function calc-compl($colorbg){
    @if($colorbg == null){
        @return #fff;
    } @else {
        @return #000;
    }
}



mlmenu {


    div {
        position: relative;
        height: 100%;
        h2 {
            margin: 0;
            padding: 20px 0 40px 0;
            color: #e5f4ee;
        } 
    }
    .elements{
        height: auto;
        position: absolute;
        z-index: -1;
        width: 80%;
        top: 20%;
        button {
            color: #00965e;
        }
    }
}
